.env
__pycache__/
*.py[cod]

# Data (nie wrzucamy danych na GitHub)
data/processed/*.csv

# Models
models/
checkpoints/
.venv/
# Logs
logs/
runs/
data/*.csv
data/*.xlsx
# Misc
.DS_Store
*.egg-info/
dist/

*.ipynb
