--extra-index-url https://download.pytorch.org/whl/cu128
torch
transformers
datasets
accelerate
peft
trl

# Data processing
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2

# HuggingFace
huggingface_hub

# Config management
pyyaml==6.0.1
python-dotenv==1.0.1

# Logging & tracking
tensorboard
rich
bitsandbytes
